.content{
    background-color: #ccc;
    height: 100%;
}

p {
    color: #666;
    font-weight: 300; }

label {
    font-size: 12px;
    display: block;
    margin-bottom: 0;
    color: #b3b3b3; }

.spacing {
    padding-top: 17px; }

.last {
    padding-bottom: 10px; }

.content {
    padding: 7rem 0; 
    background-color: #717fe0;
}

.content .contents, .content .bg {
    width: 50%; 
    background-color: #fff;
    border-radius: 25px;
}

.content h3{
    padding-top: 80px;
    font-family: Poppins-Regular;
    padding-bottom: 10px;
}

.content h3 a{
    color: black;
    text-decoration: none;
    font-family: Poppins-Bold;
}

.content h3 a:hover{
    color:#717fe0;
    text-decoration: none;
}

.content .contents .form-group, .content .bg .form-group {
    position: relative;
    margin-top: 30px; }

.content .contents .form-group label, .content .bg .form-group label {
    position: absolute;
    top: -20%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.content .contents .form-group input, .content .bg .form-group input {
    background: transparent;
    border-bottom: 1px solid #ccc; }

.content .contents .form-group.first, .content .bg .form-group.first {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px; }

.content .contents .form-group.last, .content .bg .form-group.last {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px; }

.content .contents .form-group label, .content .bg .form-group label {
    font-size: 14px;
    display: block;
    margin-bottom: 0;
    color: #b3b3b3; }

.content .contents .form-group.focus, .content .bg .form-group.focus {
    background: #fff; }

.content .contents .form-group.field--not-empty label, .content .bg .form-group.field--not-empty label {
    margin-top: -25px; }

.content .contents .form-control, .content .bg .form-control {
    border: none;
    padding: 0;
    font-size: 18px;
    border-radius: 0; }

.content .contents .form-control:active, .content .contents .form-control:focus, .content .bg .form-control:active, .content .bg .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.content .bg {
    background-size: cover;
    background-position: center; }

.content a {
    color: #888;
    text-decoration: underline; }

.content .btn {
    width: 100%;
    height: 54px;
    padding-left: 30px;
    padding-right: 30px; }

.content .forgot-pass {
    position: relative;
    top: 2px;
    font-size: 14px; }

.text-white {
    color: #fff;
}

.txt1 {
    font-size: 18px;
    font-family: Poppins-SemiBold;
    line-height: 1.4;
    color: #666;
    text-align: end;
}

.txt1 a:hover{
    color:#222;
}

.p-b-30{
    padding-bottom: 30px;
}